<h1>This is my home page</h1>

<%=link_to 'Products', pages_products_path%>
<br />
<%=link_to 'Customers', pages_customers_path%>
<br />
<%=link_to 'Blog', pages_blog_path%>
<br />
<%=link_to 'Support', pages_support_path%>
<br />
<%=link_to 'Contact', pages_contact_path%>
<br />
<%=link_to 'Login', pages_login_path%>
<br />
<%=link_to 'About', pages_about_path%>